{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://telegram.org/js/telegram-widget.js" data-auth-url="@MarketplaceTrackerBot" data-request-access="write"></script>
    <script>
        document.querySelector("#telegram-login").addEventListener("click", event => {
            window.Telegram.Login.auth(
                {bot_id: "1261510074:AAH6Fi3jN7IsnQs2xj0eRXvd9k6iudCakRs", request_access: true},
                (data) => {
                    if (!data) {
                        console.error("authorization failed");
                        return;
                    }
                    fetch("/login", {
                        headers: {
                            "Content-Type": "application/json",
                            "Accept": "application/json",
                            "X-Requested-With": "XMLHttpRequest",
                        },
                        method: "post",
                        credentials: "same-origin",
                        body: JSON.stringify(data)
                    }).then(response => {
                        if (!response.redirected) {
                            return;
                        }
                        window.location.href = response.url;
                    });
                }
            );
        });
    </script>
{% endblock %}

{% block body %}
    <button class="bg-black text-white px-5 py-3 rounded m-5" id="telegram-login" type="button">
        Login with Telegram
    </button>
{% endblock %}